body {
    padding-top: 20px;
}
body.waiting, body.waiting * {
    cursor: wait;
}
#chatbox {
    min-height: 210px;
    position: relative;
}
h1, h1 + span {
    font-size: 14px !important;
    display: inline;
}
@media only screen and (max-width: 368px) {
    h1 + span {
        display: none;
    }
    .card-header {
        text-align: center;
    }
}
p.answer {
    white-space: pre-line;
}
#credit {
    margin-top: -30px;
    cursor: pointer !important;
}
.waitingIndicator .indicator:nth-child(1){
    animation: fade 3s ease 0s infinite;
    -webkit-animation: fade 3s ease 0s infinite;
    -moz-animation: fade 3s ease 0s infinite;
}

.waitingIndicator .indicator:nth-child(2){
    animation: fade 3s ease 250ms infinite;
    -webkit-animation: fade 3s ease 250ms infinite;
    -moz-animation: fade 3s ease 250ms infinite;
}

.waitingIndicator .indicator:nth-child(3){
    animation: fade 3s ease 500ms infinite;
    -webkit-animation: fade 3s ease 500ms infinite;
    -moz-animation: fade 3s ease 500ms infinite;
}

.waitingIndicator .indicator:nth-child(4){
    animation: fade 3s ease-in-out 1s infinite;
    -webkit-animation: fade 3s ease-in-out 1s infinite;
    -moz-animation: fade 3s ease-in-out 1s infinite;
}

.waitingIndicator .indicator:nth-child(5){
    animation: fade 3s ease-in-out 2s infinite;
    -webkit-animation: fade 3s ease-in-out 2s infinite;
    -moz-animation: fade 3s ease-in-out 2s infinite;
}

.waitingIndicator {
    display: none;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.indicator{
    background-color: #1a1a1a;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    margin: 2px;
    opacity: 0;  
}
   
@keyframes fade {
    0% { 
        transform : scale(0.3);
        opacity: 0; 
    }
    50% { 
        transform : scale(1);
        opacity: 1; 
    }
    100% { 
        transform : scale(0.3);
        opacity: 0;
    }
}
   
@-webkit-keyframes fade {
    0% { 
        transform : scale(0.3);
        opacity: 0; 
    }
    50% { 
        transform : scale(1);
        opacity: 1; 
    }
    100% { 
        transform : scale(0.3);
        opacity: 0;
    }
}
   
@-moz-keyframes fade {
    0% { 
        transform : scale(0.3);
        opacity: 0; 
    }
    50% { 
        transform : scale(1);
        opacity: 1; 
    }
    100% { 
        transform : scale(0.3);
        opacity: 0;
    }
}
